/*
 * Name: Arrow
 * Use: Forms the basis for any/all CSS arrows.
 * Modifiers: Positioning
 * Notes: Courtesy of Inuit.css - Used primarly for extending
 -------------------------------------------------------------- */

%arrow {
    position: relative;
    min-width: $global-triangle-size*4;
    &:before,
    &:after {
        content: "";
        position: absolute;
        border-collapse: separate;
    }
    &:before {
        border: $global-triangle-size solid transparent;
    }
    &:after {
        border: $global-triangle-arrow solid transparent;
    }
}

/**
 * Define individual edges so we can combine what we need, when we need.
 */
%arrow--top {
    @extend %arrow;
    &:before,
    &:after {
        bottom: 100%;
    }
}

%arrow--upper {
    @extend %arrow;
    &:before {
        top: $global-triangle-arrow;
    }
    &:after {
        top: $global-triangle-size;
    }
}

%arrow--middle {
    @extend %arrow;
    &:before,
    &:after {
        top: 50%;
        margin-top: -$global-triangle-size;
    }
    &:after {
        margin-top: -$global-triangle-arrow;
    }
}

%arrow--lower {
    @extend %arrow;
    &:before {
        bottom: $global-triangle-arrow;
    }
    &:after {
        bottom: $global-triangle-size;
    }
}

%arrow--bottom {
    @extend %arrow;
    &:before,
    &:after {
        top: 100%;
    }
}

%arrow--near {
    @extend %arrow;
    &:before,
    &:after {
        right: 100%;
    }
}

%arrow--left {
    @extend %arrow;
    &:before {
        left: $global-triangle-arrow;
    }
    &:after {
        left: $global-triangle-size;
    }
}

%arrow--center {
    @extend %arrow;
    &:before,
    &:after {
        left: 50%;
        margin-left: -$global-triangle-size;
    }
    &:after {
        margin-left: -$global-triangle-arrow;
    }
}

%arrow--right {
    @extend %arrow;
    &:before {
        right: $global-triangle-arrow;
    }
    &:after {
        right: $global-triangle-size;
    }
}

%arrow--far {
    @extend %arrow;
    &:before,
    &:after {
        left: 100%;
    }
}
