/*
* Name: Alert
* Note: N/A
-------------------------------------------------------------- */

.alert {
    position: relative;
    background-color: darken($brand-primary, 7.5%);
    color: white;
    text-align: center;
    padding: $global-guttering/2;
    display: inline-block;
    vertical-align: top;
    z-index: $global-zindex-alert;
    text-shadow: 0 1px 4px rgba($brand-black, .25);
    width: 100%;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    will-change: transform;
    @include respond-max($global-screen-sm) {
        font-size: $global-font-size-xs;
    }
}

.alert--fixed {
    z-index: $global-zindex-alert-fixed;
    position: absolute;
    animation: fadeInDown .2s ease-in-out;
    @include respond-min($global-screen-sm) { position: fixed; }
}

.alert--fixed, .alert__link {
    left: 0;
    right: 0;
    top: 0;
}

.alert__link {
    position: absolute;
    text-indent: -9999px;
    height: 100%;
}

.alert--primary {
    background-color: rgba($brand-primary, 0.9);
    color: $brand-white;
    &:hover { background-color: rgba($brand-primary, 1); }
}
