/*
* Name: Alert
* Note: N/A
-------------------------------------------------------------- */

$alert-height: 4.8rem;
$alert-height-sm: 4.2rem;

.alert {
    position: relative;
    background-color: rgba($brand-black, 0.35);
    color: white;
    text-align: center;
    padding: $global-guttering/2.4;
    display: inline-block;
    height: $alert-height;
    text-shadow: 0 1px 4px rgba($brand-black, .25);
    @include respond-max($global-screen-sm) { 
        font-size: $global-font-size-xs; 
        height: $alert-height-sm;
    }
}

.alert--overlay, .alert__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: $global-zindex-alert;
}

.alert__link {
    text-indent: -9999px;
    height: 100%;
}