/*
* Name: Calendar
* Use: Displaying events in a calendar view
* Notes: N/A
-------------------------------------------------------------- */

.cal {
    margin-bottom: $global-guttering;
    border-bottom: 1px solid $brand-keyline;
    &:last-child { border-bottom: 0; }
}

.cal--widget  {
    font-size: $global-font-size-sm;
    .cal__table {
        th, td {
            padding: $global-guttering/2.4 0;
            text-align: center;
            abbr {
                width: 2em;
                text-indent: 2em;
                overflow: hidden;
                white-space: nowrap;
                &:before {
                    speak: none;
                    content: attr(data-initial);
                    display: inline-block;
                    width: 100%;
                    text-indent: 0;
                    margin-left: -100%;
                }
            }
        }
    }
    .cal__title {
        font-size: $global-font-size-base;
        line-height: $global-line-height-base;
    }
    .cal__table--back, .cal__table--front { height: 3.5em; }
}

.cal__header {
    position: relative;
    padding: 1em 0;
    border-bottom: 1px solid;
    text-align: center;
    border-bottom-color: $brand-keyline;
}

.cal__header-nav {
    display: block;
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    .icon {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
        text-align: center;
        &:before { @include respond-min($global-screen-md) { font-size: 20px; }}
    }
}

.cal__header-nav--prev { left: 0; }

.cal__header-nav--next { right: 0; }

.cal__week {
    position: relative;
    &:last-child {
        .cal__table { border-bottom: 0; }
    }
}

.cal__title {
    color: $text-color;
    margin-bottom: 0;
    @include respond-max($global-screen-sm) {
        font-size: $global-font-size-sm;
        line-height: $global-line-height-lg;
    }
}

.cal__select {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
    margin-right: 1.5em;
    @extend %icon;
    @extend %icon--down-dir;
    &:last-child { margin-right: 0; }
    &:before {
        right: -1.25em;
        position: absolute;
        top: 2px;
    }
}

.cal__select-inner {
    background-image: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    background-color: transparent;
    border: 0;
    outline: 0;
    height: auto;
    &::-ms-expand {
        display: none;
        opacity: 0;
    }
    @include on-interaction { outline: 0; }
}

.cal__table {
    border-left: 0;
    border-right: 0;
    margin-bottom: 0;
    table-layout: fixed;
}

.cal__table--head {
    border-bottom: 1px solid $brand-keyline;
    abbr {
        display: inline-block;
        vertical-align: top;
    }
    td {
        padding: $table-cell-padding / 2 0;
        border-left: 0;
        border-right: 0;
        text-align: center;
        background-color: $brand-subtle-highlight;
        color: #c2ad74;
        border-bottom-width: 1px;
    }
    @include respond-max($global-screen-md) {
        th, td {
            padding: $table-cell-padding / 2 0;
            text-align: center;
            abbr {
                width: 2em;
                text-indent: 2em;
                overflow: hidden;
                white-space: nowrap;
                &:before {
                    speak: none;
                    content: attr(data-initial);
                    display: inline-block;
                    width: 100%;
                    text-indent: 0;
                    margin-left: -100%;
                }
            }
        }
    }
}

.cal__table--week {
    .cal__entries {
        height: 2.5em;
    }
}

// Set a pre defined height to make the calendar look calendar-like. Heights
// will be overidden if there are multiple rows
.cal__table--front, .cal__table--back {
    height: 5em;
    @include respond-max($global-screen-xs) {
        height: 4em;
    }
}

// The front table is seen by the user and handles calendar entries
// and bordering of columns/rows.
.cal__table--front {
    position: relative;
    border-bottom: 1px solid $brand-keyline;
    margin-bottom: -1px;
}

// The back table is insivisble to the user but allows for interaction with days
// in the calendar. It requires JS to figure out how tall each row should be (based
// on the contents of the front table).
.cal__table--back {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    z-index: $global-zindex-calendar-table;
    .cal__column {
        border-right: 1px solid;
        border-right-color: $brand-keyline;
        &:last-child {
            border-right: 0;
        }
    }
}

.cal__table--hover {
    .cal__column:hover {
        background-color: $table-bg-hover;
        transition: .25s background ease-in-out;
        cursor: pointer;
    }
}

.cal__column {
    padding: 0 !important;
    transition: .25s background ease-in-out;
    &:first-child {  border-left: 0; }
    &:last-child {
        border-right: 0;
    }
}

.cal__column--busy { background-color: rgba($brand-danger, 0.25); }

.cal__column--half { border-right-color: rgba($brand-keyline, 0.15); }

.cal__day {}

.cal__day--active {
    outline: 2px solid #ee5829;
    outline-offset: -2px;
    .cal__label {
        // color: $twine-colour-highlight;
        font-weight: bold;
    }
}

.cal__day--inactive {
    .cal__label {
        opacity: 0.3;
    }
}

.cal__numbers .cal__column {
    vertical-align: top !important;
}

.cal__entries .cal__column {
    position: relative;
}

.cal__inner {
    display: block;
    overflow: hidden;
    position: relative;
    margin: .25em 0;
    @include respond-min($global-screen-sm) {
        word-wrap: break-word;
        word-break: break-word;
    }
}

.cal__label, .cal__entry {
    position: relative;
    z-index: $global-zindex-calendar-entry;
}

.cal__entry {
    border-radius: 50em;
    font-size: $global-font-size-xs;
    padding: .05em 1em;
    min-height: .8rem;
    margin-bottom: $global-guttering / 4;
    display: block;
    vertical-align: middle;
    margin-left: $table-cell-padding;
    margin-right: $table-cell-padding;
    @include text-overflow;
    &:last-child { margin-bottom: 0; }
    @include on-interaction {
        color: $brand-white;
        outline: 0;
    }

    @include respond-max($global-screen-xs) {
        margin-left: $table-cell-padding / 2;
        margin-right: $table-cell-padding / 2;
        padding-left: .75em;
        padding-right: .75em;
        text-align: center;
    }
}

.cal__entry--active {
    .t-generic & {
        color: $brand-white;
        @include on-interaction {
            color: $brand-white;
        }
    }
    @each $theme, $map in $brand-primary {
        $brand-primary: map-get($map, color);
        .#{$theme} & { background-color: $brand-primary; }
    }
}

.cal__entry--inactive {
    background-color: darken($brand-grey-lighter, 5%);
    .t-generic & {
        color: lighten($text-color, 20%);
        @include on-interaction {
            color: lighten($text-color, 20%);
        }
    }
}

.cal__entry--long-start {
    margin-right: 0;
    @include border-right-radius(0);
}

.cal__entry--long-end {
    margin-left: 0;
    @include border-left-radius(0);
}

.cal__content {
    padding: $table-cell-padding / 2 $table-cell-padding;
}

.cal__label {
    color: $text-muted;
    font-weight: 500;
    white-space: nowrap;
    @include on-interaction {
        text-decoration: none;
        color: $text-muted;
    }

    @include respond-max($global-screen-md) {
        font-size: $global-font-size-sm;
        abbr { display: none; }
    }
}

.cal__key {  position: relative; }

.cal__key--fixed-height {
    .cal__key-cell {
        border-bottom: 0;
        @include respond-min($global-screen-xs) {
            height: 4.5em;
        }
    }
    .cal__key-content {
        @include respond-min($global-screen-xs) {
            @include vertical-align;
        }
    }
}

.cal__key-cell {
    border-right: 1px solid;
    border-bottom: 1px solid $brand-keyline;
    border-right-color: $brand-keyline;
    &:last-child {
        border-right: 0;
    }
}

.cal__key-cell--no-divider { border-bottom: 0; }

.cal__key-content {
    padding: $global-guttering / 1.5 $global-guttering;
    position: relative;
    @include respond-min($global-screen-lg) {
        padding: $global-guttering / 1.5 3.2rem;
    }

    @include respond-max($global-screen-xs) {
        padding: $global-guttering / 1.5 $global-guttering/2;
        text-align: center;
    }
}

.cal__key-list {
    font-size: $global-font-size-xs;
    text-align: left;
    margin-bottom: -.25em;
    @include respond-min($global-screen-xs) { float: right; }

    li {
        margin-right: $global-guttering/2;
        @include respond-max($global-screen-xs) {
            display: block;
            width: 100%;
            margin-bottom: $global-guttering/2;
            &:last-child { margin-bottom: 0;}
        }
    }
}

.cal__switcher {
    @extend %no-decoration;
    line-height: 1;
    @include respond-max($global-screen-xs) { line-height: 2; }
}
