/*
* Name: Close
* Use: Button for closing JS components (modals, dialogs, pickers etc)
* Notes: N/A
-------------------------------------------------------------- */

$close-text-shadow: 0 1px 0 white !default;

.close, %close {
    float: right;
    line-height: 1;
    font-weight: 500;
    text-shadow: $close-text-shadow;
    &:hover,
    &:focus {
        text-decoration: none;
        cursor: pointer;
    }
    // Increase click area
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
        margin-left: -50%;
        margin-top: -50%;
    }

    // Additional properties for button version
    // iOS requires the button element instead of an anchor tag.
    // If you want the anchor version, it requires `href="#"`.
    @at-root button#{&} {
        cursor: pointer;
        appearance: none;
        @include on-interaction { outline: 0; }
    }
}

.close--flat, %close--flat { text-shadow: none; }

.close--inverse, %close--inverse {
    color: $brand-white;
    @include on-interaction { color: $brand-white;}
}

.close--top-right, %close--top-right {
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    font-size: $global-font-size-xs;
    right: .5rem;
    top: .5rem;
    height: 2rem;
    width: 2rem;
}
