/*
* Name: Widget
* Use: Module container used predominantly on the Dashboard
* Notes: Actual component content should be abstracted from this file
-------------------------------------------------------------- */

.component {}

.component__item {
    position: relative;
    margin-bottom: $global-guttering;
    &:last-child { margin-bottom: 0; }
}

.component__item--nudge { margin-bottom: $global-guttering/1.8; }

.component__item--offset { margin-bottom: -1px !important; }

.component__body {
    padding: $global-guttering/1.5;
    position: relative;
    border: 1px solid;
    border-color: $brand-keyline;
}

.component__body--contained { overflow: hidden; }
.component__body--guttering { @include guttering; }
.component__body--zero-border { border: none; }

.component__footer { border-top: 1px solid $brand-keyline; }

.component__nav {
    width: 100%;
    display: table;
    background-color: $brand-grey-lighter;
    margin: 0;
    > li {
        display: table-cell;
        text-align: center;
        padding: 1rem 0;
        font-size: $global-font-size-sm;
        border-right: 1px solid;
        border-right-color: $brand-keyline;
        &:last-child { border-right: 0; }
    }
}

// Used in conjunction with '.component__supporting'
.component__feature {
    position: relative;
    background-size: cover;
    background-position: center center;
    height: 12em;
    margin-left: -1px;
    left: 0;
    width: calc(100% + 2px);
    display: block;
    .no-csscalc & { width: 100%; }
    @include respond-min-max($global-screen-xs, $global-screen-sm) {
        position: absolute;
        left: 0;
        width: 40%;
        height: 100%;
        top: 0;
        margin-left: -1px;
    }
    @include respond-min($global-screen-xl) {
        position: absolute;
        left: 0;
        width: 40%;
        height: 100%;
        top: 0;
        margin-left: -1px;
    }
}

.component__supporting {
    padding: $global-guttering/1.5;
    @include respond-min-max($global-screen-xs, $global-screen-sm) {
        width: 60%;
        margin-left: 40%;
        min-height: 14em;
    }
    @include respond-min($global-screen-xl) {
        width: 60%;
        margin-left: 40%;
        min-height: 14em;
    }
}

.component__feature--blocked {
    @include respond-min($global-screen-xl) {
        width: calc(100% + 2px);
        height: 12em;
        position: relative;
        .no-csscalc & { width: 100%; }
    }
}

.component__supporting--blocked {
    width: 100%;
    margin-left: 0;
}

.component__supporting--sidebar {
    @include respond-min($global-screen-lg) {
        width: 100%;
        min-height: 0;
        margin-left: 0;
    }
}

.component__head {
    padding: .5em $global-guttering/1.5;
    color: $brand-white;
    position: relative;
    width: 100%;
    margin-bottom: -1px;
    z-index: $global-zindex-component-head;

    @each $theme, $map in $brand-widget {
        $background: map-get($map, main);

        .#{$theme} & {
             background-color: $background;
        }
    }
}

.component__main {
    @include respond-max($global-screen-lg) { .component__item { margin-bottom: $global-guttering; }}
}

.component__side {
    .component__head {
        @each $theme, $map in $brand-widget {
            $background: map-get($map, side);
            .#{$theme} & { background-color: $background; }
        }
    }
}

.component__link {
    .t-generic & {
        color: $brand-white;
        @include on-interaction {
            color: $brand-white;
            text-decoration: none;
        }
    }
}

.component__link--overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.component__title, .component__control {
    padding: 0;
    margin: 0;
    font-size: $global-font-size-base;
    line-height: $global-line-height-base;
    color: $brand-white;
    @include on-interaction { color: $brand-white; }

    .t-solar & { font-size: 1.8rem; }
}

.component__title {
    font-weight: 600;
    margin-right: 1.5em;
}

.component__icon {
    position: absolute;
    right: $global-guttering/1.5;
    top: .5em;
    text-align: right;
    line-height: 1.6;
    .t-generic & {
        color: $brand-white;
        @include on-interaction {
            color: $brand-white;
        }
    }
    @include respond-max($global-screen-sm) {
        top: .75em;
        line-height: 1.4;
    }
}

.component__list {
    margin: 0;
    padding: 0;
    .component__item {
        @include guttering;
        background-color: $brand-white;
        list-style: none;
        padding-bottom: $global-guttering/1.5;
        margin-bottom: $global-guttering/1.5;
        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}

.component__list--bordered  {
    .component__item {
        border-bottom: 1px solid $brand-keyline;
        &:last-child { border-bottom: 0; }
    }
}

.component__list--tabbed {
    position: relative;
    display: table;
    width: 100%;
    z-index: $global-zindex-tab-menu;
    margin-bottom: -1px;
    padding-top: 1px;
    font-weight: bold;
    .component__item {
        position: relative;
        display: table-cell;
        vertical-align: top;
        font-size: $global-font-size-sm;
        text-align: center;
        padding: $global-guttering/2.4;
        .lt-ie9 & { z-index: -1; }
    }
    .component__item--selected {
        border: 1px solid $brand-keyline;
        border-bottom: 1px solid $brand-white;
    }
    .component__item--unselected {
        border-top: 1px solid $brand-white;
        border-bottom: 1px solid $brand-keyline;
    }
}

.component__list--auto-width { width: auto; }

.component__list--restrict {
    max-height: 20em;
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}

.component__list--padded-items {
    .component__item {
        margin-bottom: 0;
        padding: $global-guttering/1.5 $global-guttering/1.5;
        &:last-child { padding-bottom: $global-guttering/1.5; }
        .component__item {
            padding-left: 1em;
            padding-right: 1em;
        }
    }
}

.component__list--striped {
    .component__item {
        &:nth-child(even) { background-color: $brand-grey-lighter; }
        .component__item { background-color: transparent; }
    }
}

.component__list--reduced-pad {
    .component__item {
        padding-top: $global-guttering / 3;
        padding-bottom: $global-guttering / 3;
        &:last-child { padding-bottom: $global-guttering / 3; }
    }
}

.component__video-container {
    margin-left: -1px;
    margin-right: -1px;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    iframe, .video-container object, .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.component__placeholder {
    .zero-pad & {
        padding: $global-guttering/1.5;
        margin-bottom: 0;
    }
}

.component__placeholder--more-pad { padding: 1.4rem; }

.component__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $brand-white;
    background-color: rgba($brand-black, 0.4);
    padding: .5em 1em;
    margin-bottom: 0;
    width: 100%;
    a {
        color: $brand-white;
        @include on-interaction {
            color: $brand-white;
        }
    }
    .no-rgba & {
        background-color: transparent;
        background-repeat: repeat;
        background-image: url('../images/miscellaneous/rgba-black-fallback.png');
    }
}

.component__overlay--top {
    top: 0;
    bottom: auto;
}

.component__btn {
    padding: 0;
    border: 0;
    background-color: transparent;
    &:focus { outline: 0; }
}
