/*
* Name: Container
* Note: N/A
-------------------------------------------------------------- */

$container-lg: 75em;
$container-base: 65em;
$container-sm: 60em;
$container-xs: 55em;

.container {
    width: 100%;
    max-width: $container-base;
    @include center-block;
}

.container--lg { max-width: $container-lg; }
.container--sm { max-width: $container-sm; }
.container--xs { max-width: $container-xs; }
