/*
* Name: Content
* Note: N/A
-------------------------------------------------------------- */

$content-intro-font-size-lg: 2.4rem;
$content-intro-font-size-sm: 2rem;

.content {
    blockquote {
        margin: $global-guttering*2 0;
        font-size: $global-font-size-lg;
        font-style: italic;
        cite { font-size: $global-font-size-base; }
    }
}

.content__intro { 
    font-size: $content-intro-font-size-lg; 
    @include respond-max($global-screen-sm) { font-size: $content-intro-font-size-sm; }
}
