/*
* Name: Container
* Note: N/A
-------------------------------------------------------------- */

$container-base: 75em;
$container-sm: 65em;
$container-xs: 45em;

.container {
    width: 100%;
    max-width: $container-base;
    @include center-block;
}

.container--sm { max-width: $container-sm; }
.container--xs { max-width: $container-xs; }
