/*
* Name: Data graph
* Use: N/A
* Notes: Proof of concept
-------------------------------------------------------------- */

.data-graph {
    position: relative;
    z-index: $global-zindex-data-graph-outer;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    vertical-align: top;
}

.data-graph--responsive {
    @include respond-min($global-screen-lg) {
        .data-graph__percent { font-size: $global-font-size-xl; }
        .data-graph__chart, .data-graph__svg, .data-graph__percent {
            width: 8rem;
            height: 8rem;
            .data-graph__inner { line-height: 8rem; }
        }
   }
    @include respond-max($global-screen-lg) {
        .data-graph__percent { font-size: $global-font-size-lg; }
        .data-graph__title { font-size: $global-font-size-xs; }
        .data-graph__chart, .data-graph__svg, .data-graph__percent {
            width: 6rem;
            height: 6rem;
            .data-graph__inner { line-height: 6rem; }
        }
   }
   @include respond-max($global-screen-xxs) {
        .data-graph__percent { font-size: $global-font-size-base; }
        .data-graph__title { font-size: $global-font-size-xxs; }
        .data-graph__chart, .data-graph__svg, .data-graph__percent {
            width: 5rem;
            height: 5rem;
            .data-graph__inner { line-height: 5rem; }
        }
   }
}

.data-graph--center {
    @extend %center-block;
    .data-graph__chart, .data-graph__svg, .data-graph__percent { @extend %center-block; }
}

.data-graph__chart, .data-graph__svg, .data-graph__percent {
    width: 10rem;
    height: 10rem;
}

.data-graph__chart {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: $global-zindex-data-graph-inner;
    transform: rotate(-90deg);
}

.data-graph__percent {
    display: block;
    position: relative;
    text-align: center;
    background: $brand-white;
    border-radius: 99em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 10rem;
    height: 10rem;
    // text-indent: 5px; // Offset the percent
    .data-graph__inner {
        position: relative;
        line-height: 10rem;
        top: -1px;
    }
}

.data-graph__title {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: $global-font-size-sm;
    font-weight: bold;
    margin-bottom: 0;
    white-space: nowrap;
}

.data-graph__svg {
    will-change: transform;
    circle {
      stroke-dashoffset: 0;
      transition: stroke-dashoffset 1.5s linear;
      stroke: $brand-keyline;
      stroke-width: 20px;
    }
    .data-graph__front, .data-graph__back--highlight {
        animation: draw 1.5s forwards;
        animation-timing-function: ease-in-out;
        @each $theme, $map in $brand-primary {
            $brand-primary: map-get($map, color);
            .#{$theme} & { stroke: $brand-primary; }
        }
    }
}

.data-graph__svg--success .data-graph__front {
    .t-generic & { stroke: $brand-success; }
}
.data-graph__svg--danger .data-graph__front {
    .t-generic & { stroke: $brand-danger; }
}
.data-graph__svg--warning .data-graph__front {
    .t-generic & { stroke: $brand-warning; }
}
.data-graph__svg--muted .data-graph__front {
    .t-generic & { stroke: darken($brand-grey-lighter, 25%); }
}
