/*
* Name: Dropdown
* Use: Hide/show menus
* Notes: See http://getbootstrap.com/components/#dropdowns - This partial needs to be 'BEMified'
-------------------------------------------------------------- */

.dropdown { position: relative; }

// Prevent the focus on the dropdown toggle when closing dropdowns
.dropdown-toggle:focus { outline: 0; }

// The dropdown menu (ul)
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $global-zindex-dropdown;
    display: none; // none by default, but block on "open" of the menu
    float: left;
    min-width: 160px;
    padding: 0;
    margin-top: $global-guttering/2;
    // override default ul
    list-style: none;
    border-radius: $global-border-radius-lg;
    background-clip: padding-box;
    font-size: $global-font-size-base;
    background-color: $brand-grey-lighter;
    border: 2px solid darken($brand-grey-lighter, 2.5%);
    @include respond-max($global-screen-header-nav-fixed) { margin-bottom: $global-header-nav-fixed-height - 1px; }

    &:before, &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        bottom: 0;
        margin-left: 0;

    }
    &:before {
        border-bottom-color: darken($brand-grey-lighter, 2.5%);
        border-width: 12px;
        left: 18px;
        top: -24px;
    }
    &:after {
        border-bottom-color: $brand-grey-lighter;
        border-width: 10px;
        top: -20px;
        left: 20px;
    }
}

.dropdown-menu--right {
    right: 0;
    left: auto;
    &:before, &:after { left: auto; }
    &:before { right: 18px; }
    &:after { right: 20px; }
}

// Active state
.dropdown-menu > .active > .dropdown-menu__link {
    &,
    &:hover,
    &:focus {
        text-decoration: none;
        outline: 0;
    }
}

.dropdown-menu__item {
    overflow: hidden;
    &:first-child { @include border-top-radius($global-border-radius-lg); }
    &:last-child {
        @include border-bottom-radius($global-border-radius-lg);
        a { border-bottom: 0; }
    }
}

// Links within the dropdown menu
.dropdown-menu__link {
    display: block;
    padding: $global-guttering/2.25 $global-guttering/1.5;
    clear: both;
    font-weight: 600;
    line-height: $global-line-height-base;
    font-size: $global-font-size-sm;
    white-space: nowrap;
    border-bottom: 2px solid;
    border-bottom-color: darken($brand-grey-lighter, 2.5%);
    background-color: $brand-white;
    transition: background .15s ease-in-out;
    &:hover,
    &:active,
    &:focus {
        background-color: $brand-grey-lighter;
        text-decoration: none;
        transition: background .2s ease-in-out;
    }
}

// Disabled state
//
// Gray out text and ensure the hover/focus state remains gray

.dropdown-menu > .disabled > .dropdown-menu__link {
    &,
    &:hover,
    &:focus { color: $text-disabled-color; }
}

// Nuke hover/focus effects
.dropdown-menu > .disabled > .dropdown-menu__link {
    &:hover,
    &:focus {
        text-decoration: none;
        background-color: transparent;
        background-image: none;
        cursor: not-allowed;
    }
}

// Open state for the dropdown
.open {
    // Show the menu
    > .dropdown-menu { display: block; }
    // Remove the outline when :focus is triggered
    > .dropdown-menu__link { outline: 0; }
}


// Backdrop to catch body clicks on mobile, etc.
.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: $global-zindex-dropdown - 10;
}
