/*
* Name: Header
* Use: Wrapping page title, notification area and links
* Notes: N/A
-------------------------------------------------------------- */

$header-item-spacing: 1.6rem;

.header {
    padding: $global-guttering / 1.5 $global-guttering / 1.2 $global-guttering / 3;
    @include respond-min($global-screen-lg) { padding: $global-guttering $global-guttering * 1.3333333333 $global-guttering * 4; }
    @include respond-min(1400px) { padding: $global-guttering 0 $global-guttering * 4; }
    @include respond-max($global-screen-sm) { padding: $global-guttering / 1.5 $global-guttering / 1.25 $global-guttering / 3; }
}

.header__dropdown { position: relative; }

.header__nav {
    @include inline-block;
    @include respond-max($global-screen-header-nav-fixed) {
        display: table;
        table-layout: fixed;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        margin-bottom: 0;
        max-height: $global-header-nav-fixed-height;
        z-index: $global-zindex-header-nav;
        padding-left: 0;
        position: fixed;
        will-change: transform;
        transform: translateY(0);
        transition: transform .15s ease-in-out;
        @each $theme, $map in $brand-header-gradient {
            .#{$theme} & {
                $brand-header: map-get($map, startcolor);
                background-color: $brand-header;
                border-top: 1px solid darken($brand-header, 5%);
            }
        };
    }
}

// This resolves an issue with iOS pushing the fixed nav up if the keyboard is open.
// It is added on input focus events on touch devices.
.header__nav--focus-handler {
    @include respond-max($global-screen-header-nav-fixed) { display: none; };
}

.header__nav--off-canvas {
    @include respond-max($global-screen-header-nav-fixed) {
        transform: translateY($global-header-nav-fixed-height + 1px);
        transition: transform .15s ease-in-out;
    }
}

.header__item {
    padding-right: $header-item-spacing;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    vertical-align: middle;
    margin-right: -4px; // inline block fix
    &:last-child { padding-right: 0; }
    @include respond-max($global-screen-header-nav-fixed) {
        display: table-cell;
        width: 100%;
        text-align: center;
        padding: 0;
        border-right: 1px solid;
        @each $theme, $map in $brand-header-gradient {
            .#{$theme} & {
                $brand-header: map-get($map, startcolor);

                border-color: darken($brand-header, 5%);
                &:hover { background-color: darken($brand-header, 2.5%); }
            }
        };
    }
}

.header__item--divided {
    @include respond-min($global-screen-header-nav-fixed) {
        margin-right: $header-item-spacing - .4rem; // Inline block creates 4px gap
        &:after {
            content: "";
            position: absolute;
            width: 1px;
            top: 12.5%;
            height: 75%;
            bottom: 12.5%;
            right: -1px;
        }
        @each $theme, $map in $brand-header {
            .#{$theme} &:after {
                $brand-divide: map-get($map, iconcolor);
                background-color: $brand-divide;
            }
        }
    }
}

.header__item--last { @include respond-min($global-screen-xs) { padding-right: 0; }}

.header__item--text { @include respond-max($global-screen-md) { font-size: $global-font-size-sm; }}

.header__masthead {
    display: inline-block;
    width: 100%;
    clear: both;
    margin-top: 2.8rem;
    text-align: left;
    position: relative;
    @include respond-max($global-screen-md) { margin-top: 0; }
}

.header__title {
    margin-bottom: 0;
    font-size: 4.2rem;
    line-height: $global-line-height-base;
    @include respond-min($global-screen-lg) {
        font-size: 5.6rem;
    }
    @include respond-max($global-screen-md) {
        font-size: 3.4rem;
        margin-top: 1.4rem;
    }
}

.header__link {
    font-weight: bolder;
    text-decoration: none;
    background-color: transparent;
    line-height: $global-line-height-lg;
    padding: 0 $global-guttering/6;
    &:focus { outline: 0; }
    border: 0;
    @each $theme, $map in $brand-header {
        .#{$theme} & {
            $color: map-get($map, linkcolor);
            color: $color;
            @include on-interaction { color: $color; }
        }
    }
    @include respond-max($global-screen-sm) { font-size: 1.85rem; }
}

.header__toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    padding: 0;
    @include on-interaction { outline: 0; }
    @include respond-max($global-screen-header-nav-fixed) {
        display: block;
        padding: $global-guttering/3 $global-guttering;
    }
}

.header__link--toggle {
    @extend %no-decoration;
    position: relative;
    // Increase touch area
    &:before {
        content: "";
        position: absolute;
        width: 250%;
        left: -75%;
        height: 250%;
        top: -75%;
    }
    @include button-reset;
    @include respond-min($global-screen-md) { display: none; }
}

.header__link--standalone {
    margin-top: .6rem;
    display: inline-block;
    @include respond-max($global-screen-lg) { margin-top: .7rem; }
}

.header__tabs {
    position: relative;
    margin-bottom: $global-guttering;
    display: inline-block;
    @include respond-max($global-screen-lg) {
        margin-bottom: $global-guttering/2;
        margin-top: $global-guttering / 6;
    }
}

.header__tab {
    @include respond-max($global-screen-sm) {
        @include text-overflow;
        max-width: 11em;
    }
}

.header__avatar {
    margin-right: .5em;
    width: 2em;
    height: 2em;
}

.header__icon {
    @extend %no-decoration;
    position: relative;
    vertical-align: sub;
    margin-left: 0;
    font-size: 2.2rem;
    display: inline-block;
    @each $theme, $map in $brand-header {
        .#{$theme} & {
            $brand-header-icon: map-get($map, iconcolor);
            color: $brand-header-icon;
        }
    }

    @include respond-max($global-screen-header-nav-fixed) {
        .t-generic & { color: $brand-white; }
        .t-solar & { color: $t-solar-text; }
    }

    @include respond-max($global-screen-md) { font-size: 2.0rem; }
    @include respond-max($global-screen-sm) { font-size: 1.85rem; }
}
