/*
* Name: Hero
* Use: N/A
* Notes: N/A
-------------------------------------------------------------- */

$hero-alert-offset: $global-guttering*2;

.hero {
    position: relative;
    min-height: 300px;
    max-height: 600px;
    @include respond-min($global-screen-md) { height: 75vh; }
}

.hero--tint {
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $brand-primary;
        opacity: .75;
        z-index: 0;
    }
}

.hero__inner {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
}

.hero__title {
    position: relative;
    // display: table-cell;
    vertical-align: middle;
    padding-top: $global-guttering*4;
    margin: auto;
    width: 100%;
    font-size: $global-font-size-lead;
    color: $brand-white;
    text-align: center;
    text-shadow: 0 1px 4px rgba($brand-black, .25);
    z-index: 1;
    @include respond-max($global-screen-md) { 
        font-size: $global-font-size-lead/1.5; 
        vertical-align: bottom;
    }
}