/*
* Name: Insights
* Use: Presenting analytical data
* Notes: N/A
-------------------------------------------------------------- */

.insights {}

.insights__group {
    margin-bottom: 1.5em;
    text-align: center;
    @include guttering;
    @include respond-min-max($global-screen-md, $global-screen-lg) {
        &:nth-child(4) { clear: left; }
    }

    @include respond-max($global-screen-md) {
        &:nth-child(3) { clear: left; }
    }
    &:last-child { border-bottom: 0; }
}
