/*
* Name: List Group
* Use: Blocked, bordered stacked lists
* Notes: See http://getbootstrap.com/components/#list-group
-------------------------------------------------------------- */

.list-group {
    // No need to set list-style: none; since .list-group__item is block level
    margin-bottom: $global-guttering;
    padding-left: 0;
}

.list-group__item {
    position: relative;
    display: block;
    padding: $global-guttering/2;
    margin-bottom: -1px;
    background-color: $brand-white;
    border: 1px solid $brand-keyline;
    @include guttering;
    &:last-child { margin-bottom: 0; }
}
