/*
* Name: Loading
* Use: Showing animated loading SVG + colouring
* Notes: N/A
-------------------------------------------------------------- */

.loading {
    margin: auto;
    text-align: center;
    position: relative;
    // If surrounding div has no padding
    .zero-pad & { height: 4.8em; }
}

.loading__svg {
    margin: auto;
    position: relative;
    will-change: transform;
    @each $theme, $map in $brand-primary {
        .#{$theme} & {
             fill:  map-get($map, color);
        }
    }
    .zero-pad & { @include vertical-align; }
}
