/*
* Name: Logo
* Use: 
* Notes: 
-------------------------------------------------------------- */

$logo-dimensions: 160px;
$logo-dimensions-md: 120px;
$logo-dimensions-sm: 80px;

.logo {}

.logo--primary { float: left; }

.logo__image {
    transition: all .2s ease-in-out;
    width: $logo-dimensions;
    height: $logo-dimensions;
    @include respond-max($global-screen-md) { 
        width: $logo-dimensions-md;
        height: $logo-dimensions-md;
    }
    @include respond-max($global-screen-sm) {
        width: $logo-dimensions-sm;
        height: $logo-dimensions-sm;
    }
}