/*
* Name: Logo
* Use: 
* Notes: 
-------------------------------------------------------------- */

$logo-dimensions: 175px;

.logo {}
.logo__image {
    width: $logo-dimensions;
    height: $logo-dimensions;
}