/*
* Name: Media
* Use: For displaying an image next to text
* Notes: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
-------------------------------------------------------------- */

.media { @include guttering; }

.media,
.media__body {
    overflow: hidden;
    zoom: 1;
}

.media__heading { margin-bottom: $global-guttering/4; }

.media__object { 
    display: block; 
    width: auto;
}

.media {
    > .pull-left {
        margin-right: 1em;
        min-width: inherit;
    }
    > .pull-right {
        margin-left: 1em;
        min-width: inherit;
    }
}
