/*
* Name: Modal
* Use: Full screen overlay for displaying content
* Notes: See http://getbootstrap.com/javascript/#modals
-------------------------------------------------------------- */

$modal-backdrop-bg: black !default;
$modal-backdrop-opacity: 0.5;
$modal-lg: 900px;
$modal-md: 600px;
$modal-sm: 400px;
$modal-xs: 300px;

// Kill the scroll on the body
.modal-open { overflow: hidden; }

// Modal background
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $global-zindex-modal-background;
    background-color: rgba($modal-backdrop-bg, .75);
    // Fade for backdrop
    &.fade { @include opacity(0); }
    &.in { @include opacity($modal-backdrop-opacity); }
}

// Container that the modal scrolls within
.modal {
    display: none;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $global-zindex-modal;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https://github.com/twbs/bootstrap/pull/10951.
    outline: 0;
    // When fading in the modal, animate it to slide down
    &.fade .modal__dialog, &.fade .modal-dialog {
        transform: translate(0, -115%);
        transition: transform 0.25s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    }
    &.in .modal__dialog, &.in .modal-dialog {
        transform: translate(0, 0);
        transition: transform 0.25s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    }
}

.modal--fluid-width {
    text-align: center;
    .modal-content, .modal__content {
        display: inline-block;
        width: auto;
        max-width: 100%;
    }
}

// Shell div to position the modal with bottom padding
.modal-dialog, .modal__dialog {
    position: relative;
    width: auto;
    margin: $global-guttering;
}

// Actual modal
.modal-content, .modal__content {
    position: relative;
    background-color: $brand-white;
    background-clip: padding-box;
    // Remove focus outline from opened modal
    outline: none;
    border-radius: .75rem;
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal__header {
    border-bottom: 1px solid;
    min-height: $global-guttering/1.25 + $global-line-height-base;
}

// Title text within header
.modal__title {
    margin: 0;
    line-height: $global-line-height-base;
}

// Modal body
// Where all modal content resides (sibling of .modal__header and .modal__footer)
.modal__body {
    position: relative;
    padding: $global-guttering;
    @include guttering;
    @include respond-max($global-screen-xs) { padding: $global-guttering/1.4; }
}

// Footer (for actions)
.modal__footer {
    border-top: 1px solid;
    @include clearfix;
    // clear it in case folks use .pull-* classes on buttons
    // Properly space out buttons
    .btn + .btn {
        margin-left: 5px;
        margin-bottom: 0;
    }
    // but override that for button groups
    .btn-group .btn + .btn {
        margin-left: 0;
        border-left: 0;
    }
    // and override it for block buttons as well
    .btn--block + .btn--block { margin-left: 0; }
}

.modal__header, .modal__footer {
    border-color: $brand-keyline;
    padding: $global-guttering/1.25 $global-guttering;
    @include respond-max($global-screen-xs) { padding: $global-guttering/1.25 $global-guttering/1.4; }
}

// Scale up the modal
@include respond-min($global-screen-xs-min) {
    // Modal sizes
    .modal--xs.modal__dialog, .modal-xs.modal-dialog { width: $modal-xs; }
}


// Scale up the modal
@include respond-min($global-screen-sm-min) {
    // Automatically set modal's width for larger viewports
    .modal-dialog, .modal__dialog {
        width: $modal-md;
        margin: 30px auto;
    }
    // Modal sizes
    .modal--sm.modal__dialog, .modal-sm.modal-dialog { width: $modal-sm; }
}

@include respond-min($global-screen-md-min) {
    .modal--lg.modal__dialog, .modal-lg.modal-dialog { width: $modal-lg; }
}
