/*
* Name: Nav
* Use: For site-wide navigation areas
* Notes: N/A
-------------------------------------------------------------- */

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    @include clearfix;
}

.nav--primary {
    overflow: hidden;
    @include respond-min($global-screen-sm) { float: right; }
    .nav__list { margin: 0; }
    .nav__item { 
        font-family: $global-headings-font-family; 
        margin-right: $global-guttering*2;
        @include respond-max($global-screen-md) { font-size: $global-font-size-sm; }
        @include respond-max($global-screen-sm) { 
            margin-left: $global-guttering; 
            margin-right: 0;
            padding: .5rem;
        }
    }
    .nav__link {
        color: $brand-white;
        opacity: 0.75;
        text-decoration: none;
        @include on-interaction { color: $brand-white; }
    }
    .nav__link--active { opacity: 1; }
}

