/* 
* Name: Off canvas 
* Use: Mobile navigation
* Modifiers: N/A
* Note: N/A
-------------------------------------------------------------- */

.off-canvas {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $brand-primary;
}

.off-canvas__inner {
    border-right: 1px solid $brand-keyline;
    margin-right: -1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0);
    transform: translate3d(0);
    transition: transform .3s ease-in-out;
    .no-csstransforms3d & {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.off-canvas--show {
    @include respond-max($global-screen-offcanvas) {
        overflow: hidden;
        .off-canvas__inner {
            border-right: 1px solid $brand-keyline;
            -webkit-transform: translate3d(-300px, 0, 0);  
            transform: translate3d(-300px, 0, 0);  
            transition: transform .3s ease-in-out;
            .no-csstransforms3d & {
                -webkit-transform: translateX(-300px);  
                transform: translateX(-300px);  
            }
        }
    }
}