/*
* Name: Post
* Use: Blog post spacing + minor styling
* Notes: Soon to be overhauled
-------------------------------------------------------------- */

.post {
    padding-top: $global-guttering;
    border-top: 1px solid $brand-keyline;
    &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
    }
}

.post--first {
    border-top: none;
    padding-top: 0;
}

.post--divide {
    padding-top: $global-guttering;
    border-top: 1px solid;
    border-bottom: 0;
    margin-bottom: 0;
    border-top-color: $brand-keyline;
}

.post--same-author {
    border-top: 0;
    padding-top: 0;
    .post__excerpt {
        padding-top: $global-guttering;
        border-top: 1px solid;
        border-top-color: $brand-keyline;
    }
    @include respond-min($global-screen-lg) {
        .post__btn { top: $global-guttering; }
    }
}

.post--single {
    border-top: 0;
    margin-bottom: 0;
    @include respond-min($global-screen-lg) {
        padding: 1.25em 5em 2.25em;
    }
}

.post__excerpt {
    position: relative;
    margin-bottom: $global-guttering;
    @include guttering;
}

.post__title {
    @include respond-min($global-screen-lg) {
        // Make space for .post__btn
        margin-right: $global-guttering*6;
    }
}

.post__btn {
    display: inline-block;
    @include respond-min($global-screen-lg) {
        position: absolute;
        right: $global-grid-gutter-width/2;
        top: 0;
    }
}
