/*
* Name: Section
* Use: N/A
* Notes: N/A
-------------------------------------------------------------- */

$section-alert-offset: 4.8rem;
$section-alert-offset-sm: 4.2rem;

.section {
    display: block;
    width: 100%;
    padding: $global-guttering*1.25 $global-guttering;
    background-size: cover;
    background-position: center center;
    @include respond-min($global-screen-sm) { padding: $global-guttering*2; }
}

.section--lg { @include respond-min($global-screen-lg) { padding: $global-guttering*3.5; }}

.section--md { @include respond-min($global-screen-lg) { padding: $global-guttering; }}

.section--sm { padding: $global-guttering/1.5; }

.section--plain { background-color: $brand-white; }
.section--primary { background-color: $brand-primary; }
.section--secondary { background-color: $brand-secondary; }
.section--tertiary { background-color: $brand-tertiary; }
.section--lowlight { 
    background-color: $brand-lowlight; 
    color: $brand-white;
}
.section--highlight { background-color: $brand-highlight; }

.section--offset-alert { 
    padding-top: $global-guttering*1.25 + $section-alert-offset-sm;
    @include respond-min($global-screen-sm) { padding-top: $global-guttering*2 + $section-alert-offset; }
}