/*
* Name: Section
* Use: N/A
* Notes: N/A
-------------------------------------------------------------- */

.section {
    display: block;
    width: 100%;
    padding: $global-guttering*1.25 $global-guttering;
    @include respond-min($global-screen-sm) { padding: $global-guttering*2.5; }
}

.section--lg {
    @include respond-min($global-screen-lg) { padding: $global-guttering*3.5; }
}

.section--md {
    @include respond-min($global-screen-lg) { padding: $global-guttering; }
}

.section--sm {
    @include respond-min($global-screen-lg) { padding: $global-guttering/1.5; }
}

.section--plain { background-color: $brand-white; }
.section--primary { background-color: $brand-primary; }
.section--secondary { background-color: $brand-secondary; }
.section--tertiary { background-color: $brand-tertiary; }
.section--lowlight { 
    background-color: $brand-lowlight; 
    color: $brand-white;
}
.section--highlight { background-color: $brand-highlight; }

.section--overlay { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}