/*
* Name: Shame
* Use: Put your quick fixes/hacks front-end work in here to be refactored later
* Notes: You should be ashamed!!
-------------------------------------------------------------- */

// Dropdown arrow/caret
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

// Pattern Library
.page-switcher {
    position: fixed;
    bottom: 6px;
    right: 46px;
    width: 200px;
    z-index: 9999;
}

.picker--closed {
    .picker__wrapper { display: none; }
}

// Ensure pointer without href
[ng-click],
.pagination a,
.nav a { cursor: pointer; }

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

.pagination,
.nav {
    a { user-select: none; }
}


.documents__header {
    position: relative;
    padding: 1em 0;
    border-bottom: 1px solid $brand-keyline;
    border-top: 1px solid $brand-keyline;
    padding: $global-guttering/1.5 $global-guttering;
    @include respond-max($global-screen-sm) { padding: $global-guttering/1.5 $global-guttering / 1.25; }
}

.documents__item {}

.documents__item--slow { transition: background-color 2s ease-out; }

.documents__item--new { background-color: $brand-subtle-highlight !important; }

.documents__revisions {
    max-height: 15em;
    overflow: auto;
}

.page__content--private-data,
.window__body--private-data {
    background-color: #EEEEEE;
}

.form__visibility {
    @extend small;
    float: right;
    background-color:#EEEEEE;
    padding: 0 4px 0 4px;
}
