/*
* Name: Theme picker
* Use:  Picking between theme-pickers
* Notes: N/A
-------------------------------------------------------------- */

.theme-picker { @include respond-min($global-screen-sm) { height: 3em; }}

.theme-picker__wrapper { margin: 0 auto -1em; }

.theme-picker__label {
    margin-bottom: $global-guttering / 1.5;
    @include respond-min($global-screen-sm) {
        text-align: right;
        position: relative;
        @include vertical-align;
    }
}

.theme-picker__item {
    width: 3.5em;
    height: 3.5em;
    background-repeat: no-repeat;
    display: inline-block;
    border: 2px solid $brand-white;
    border-radius: 10em;
    box-shadow: rgb(192, 192, 192) 0px 0px 1px;
    margin: 0 .75em 1em 0;
    vertical-align: top;
    transition: border .25s ease-out;
    @include on-interaction {
        transition: border .25s ease-in;
        @each $theme, $map in $brand-primary {
            $brand-primary: map-get($map, color);
            .#{$theme} & { border-color: $brand-primary; }
        };
    }
    &:last-child { margin-right: 0; }
}

.theme-picker__item--selected {
    @each $theme, $map in $brand-primary {
        .#{$theme} & {
            $brand-primary: map-get($map, color);
            border-color: $brand-primary;
        }
    };
}
