/*
* Name: Toolbar
* Use: N/A
* Notes: N/A
-------------------------------------------------------------- */

.toolbar { @include guttering; }

.toolbar__list {
    display: table;
    width: 100%;
    margin-bottom: $global-guttering/1.5;
    @include respond-min($global-screen-sm) {
        margin-bottom: 0;
        border: 1px solid $brand-keyline;
        border-radius: $global-border-radius-base;
    }
}

.toolbar__item {
    border: 1px solid $brand-keyline;
    margin-top: -1px;
    margin-left: -1px;
    text-align: center;
    &:first-child {
        &, .toolbar__action { @include border-left-radius($global-border-radius-base); }
    }
    &:last-child {
        &, .toolbar__action { @include border-right-radius($global-border-radius-base); }
    }
    @include respond-min($global-screen-sm) {
        display: table-cell;
        border: none;
        margin: 0;
        border-right: 1px solid $brand-keyline;
        &:last-child { border-right: 0; }
    }
}

.toolbar__action {
    padding: $global-guttering/2.4 $global-guttering/2;
    display: inline-block;
    font-size: $global-font-size-sm;
    background-color: $brand-grey-lighter;
    width: 100%;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    white-space: nowrap;
    font-weight: 600;
    &[disabled] {
        opacity: .25;
        cursor: not-allowed;
        &:hover { background-color: $brand-grey-lighter; }
    }
    @each $theme, $map in $brand-text {
        $text-color: map-get($map, color);
        .#{$theme} & {
            color: $text-color;
            @include on-interaction { color: $text-color; }
        }
    }
    &:hover {
        transition: background-color .2s ease-in-out, color .2s ease-in-out;
        background-color: darken($brand-grey-lighter, 2%);
        text-decoration: none;
    }
}

.toolbar__action--success {
    .t-generic & {
        color: $brand-success;
        @include on-interaction { color: $brand-success; }
    }
}

.toolbar__action--danger {
    .t-generic & {
        color: $brand-danger;
        @include on-interaction { color: $brand-danger; }
    }
}
