/*
* Name: Well
* Use: Isolating content into its own block
* Notes: N/A
-------------------------------------------------------------- */

.well, %well {
    position: relative;
    min-height: 20px;
    padding: $global-guttering/2;
    margin-bottom: $global-guttering;
    background-color: $brand-grey-lighter;
    border: 1px solid $brand-keyline;
    border-radius: $global-border-radius-base;
    width: 100%;
    @include respond-min($global-screen-sm) { padding: $global-guttering; }
    @include text-break;
    @include guttering;
}

.well--auto {
    display: inline-block;
    width: auto;
}

.well--constrain {
    height: 35em;
    overflow: auto;
}

.well--interaction {
    transition: background-color .15s ease-in-out;
    @include on-interaction {
        background-color: darken($brand-grey-lighter, 1.5%);
        transition: background-color .15s ease-in-out;
        .well__img {
            transform: scale(1.1);
            transition: transform .15s ease-in-out;
        }
    }
}

.well--responsive {
    margin-left: auto;
    margin-right: auto;
    @include respond-min($global-screen-md) { width: 75%; }
    @include respond-min($global-screen-lg) { width: 50%; }
}

.well--inline {
    display: inline-block;
    width: auto;
}

.well--less-pad {
    padding: $global-guttering/2;
    @include respond-min($global-screen-sm) { padding: $global-guttering/1.5; }
}

.well--less-v-pad {
    padding: $global-guttering/2 $global-guttering/1.5;
}

// Arrows

.well--right, %well--right {
    @include arrow(right, center, $brand-grey-lighter, $brand-keyline);
}

.well--right-top, %well--right-top {
    @include arrow(right, top, $brand-grey-lighter, $brand-keyline);
}

.well--left, %well--left {
    @include arrow(left, center, $brand-grey-lighter, $brand-keyline);
}

.well--left-top, %well--left-top {
    @include arrow(left, top, $brand-grey-lighter, $brand-keyline);
}

.well--top, %well--top {
    @include arrow(top, center, $brand-grey-lighter, $brand-keyline);
}

.well--top-left, %well--top-left {
    @include arrow(top, left, $brand-grey-lighter, $brand-keyline);
}

.well--top-left-inverse {
    @include arrow(top, left, $brand-white, $brand-keyline);
}

.well--top-right, %well--top-right {
    @include arrow(top, right, $brand-grey-lighter, $brand-keyline);
}

.well--left-desktop {
    min-width: $global-triangle-size*4;
    &:before,
    &:after {
        content: "";
        position: absolute;
        border-collapse: separate;
    }
    &:before { border: 12px solid transparent; }
    &:after { border: 11px solid transparent; }

    @include respond-min($global-screen-md) {
        // When SASS finally gets its shit together and allows extending within media queries
        // uncomment the include below:
        // @include arrow(left, top, $brand-grey-lighter, $brand-keyline);

        &:before,
        &:after { right: 100%; }
        &:before {
            top: 11px;
            border-right-color: $brand-keyline !important;
        }
        &:after {
            top: 12px;
            border-right-color: $brand-grey-lighter !important;
        }
    }

    @include respond-max($global-screen-md) {
        // When SASS finally gets its shit together and allows extending within media queries
        // uncomment the include below:
        // @include arrow(top, left, $brand-grey-lighter, $global-border-color: transparent);

        &:before,
        &:after { bottom: 100%; }

        &:before {
            left: 11px;
            border-bottom-color: $brand-keyline !important;
        }

        &:after {
            left: 12px;
            border-bottom-color: $brand-grey-lighter !important;
        }

    }
}

// Make spacing for .well__img
.well--with-image {
    margin-bottom: 0;
    margin-top: $global-guttering;
    padding: $global-guttering/1.25;
    &:first-child { margin-top: $global-guttering / 3; }
    &:before {
        content: "";
        position: relative;
        width: 2em;
        height: 1px;
        float: left;
    }
}

.well--with-image-flipped {
    &:before { float: right; }
    .well__img {
        left: auto;
        right: 0;
        margin-right: -.5em;
        margin-left: 0;
    }
}

.well--bordered {
    border-top: 5px solid black;
    &:before {
        content: "";
        background-color: black;
    }
}

// Used for joining related content (like in group feeds)
.well--conjoined {
    &:not(.well--conjoined-first):not(:first-child) {
        margin-top: -$global-guttering;
        border-top: 0;
        &:before, &:after { content: none; }
        @include border-top-radius(0);
    }

    &:not(.well--conjoined-last):not(:last-child) {
        @include border-bottom-radius(0);
    }
}

// For manual use (relying on first-child/last-child isn't bullet proof)
.well--conjoined-first {
    @include border-top-radius($global-border-radius-base);
    @include border-bottom-radius(0);
}

.well--conjoined-last {
    @include border-bottom-radius($global-border-radius-base);
}

.well--min-height { min-height: 14em; }

.well__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.well__img {
    width: 2.75em;
    margin-top: -.6em;
    margin-left: -.5em;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid $brand-white;
    background-color: $brand-white;
    box-shadow: 0px 0px 0px 1px $brand-keyline;
    transition: transform .15s ease-in-out;
}

.well__avatars {
    position: absolute;
    left: $global-guttering/2;
    bottom: $global-guttering/1.5;
}
