/*
* Name: Window
* Use: Structuring desktop-like apps such as messaging utilising overflow and fixed heights
* Notes: N/A
-------------------------------------------------------------- */

$window-item-fixed-height: 50px;

.window {
    height: 100%;
    margin: 0;
    position: relative;
    // // Make space for top bordering (page header used a 1px negative margin)
    // @include respond-max($global-screen-lg) { top: 1px; }
}

// Point at which the window goes full width - one column
.window--lg {
    // @include respond-max($global-screen-lg) { .window__area { border-left: 0; }}
    @include respond-min($global-screen-lg) {
        .window__head { height: 5.4rem }
        .window__context {
            position: relative;
            @include vertical-align;
        }
        .window__body--push { padding: $global-guttering*1.25; }
        .window__body--nudge { padding: $global-guttering/1.8; }
        .window__body--vertical-nudge {
            padding-top: $global-guttering/1.8;
            padding-bottom: $global-guttering/1.8;
        }
        .window__body--vertical-push {
            padding-top: $global-guttering*1.25;
            padding-bottom: $global-guttering*1.25;
        }
    }
}

.window--md {
    // @include respond-max($global-screen-md) { .window__area { border-left: 0; }}
    @include respond-min($global-screen-md) {
        .window__head { height: 5.4rem }
        .window__context {
            position: relative;
            @include vertical-align;
        }
        .window__body--push { padding: $global-guttering; }
        .window__body--nudge { padding: $global-guttering/1.8; }
        .window__body--vertical-nudge {
            padding-top: $global-guttering/1.8;
            padding-bottom: $global-guttering/1.8;
        }
        .window__body--vertical-push {
            padding-top: $global-guttering*1.25;
            padding-bottom: $global-guttering*1.25;
        }
    }
}

.window__area {
    height: 100%;
    padding: 0;
    border-left: 1px solid $brand-keyline;
    &:first-child {  border-left: 0; }
}

.window__area--offset-sm { @include respond-min($global-screen-sm) { margin-left: -1px; }}
.window__area--offset-md { @include respond-min($global-screen-md) { margin-left: -1px; }}
.window__area--offset-lg { @include respond-min($global-screen-lg) { margin-left: -1px; }}

.window__area--flexible { min-height: 0; }

.window__head, .window__body {
    padding: 0 1.8rem;
    position: relative;
    clear: both;
}

.window__head--guttered, .window__body--guttered { @include guttering; }

.window__head {
    padding: 1.4rem;
    border-bottom: 1px solid $brand-keyline;
}

.window__head--fade {
    z-index: $global-zindex-window-head;
    position: absolute;
    width: 100%;
    background-color: rgba($brand-white, .75);
    // -webkit-backdrop-filter: blur(10px);
    .no-rgba & { background-color: $brand-white; }
}

.window__body {}

.window__body--restrict {
    max-height: 658px;
    overflow: hidden;
    @include respond-max($global-screen-xs) { max-height: 458px; }
}

.window__body--restrict-scroll {
    max-height: 600px;
    overflow: auto;
}

// Bit of a magic number to align the image with the post status area in Groups
.window__body--force { padding: 2.3rem; }

.window__body--push { padding: 1.8rem; }

.window__body--nudge { padding: 1.4rem; }

.window__body--vertical-nudge {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
}

.window__body--vertical-push {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}

.window__body--fluid {
    padding-left: 0;
    padding-right: 0;
    @include respond-min($global-screen-md) {
        padding: 1.4rem 5%;
        .window__list {
            width: auto;
            margin-left: -2.5%;
            margin-right: -2.5%;
        }
    }
}

.window__body--full-height { max-height: 100%; }

.window__context {
    position: relative;
    @include respond-min($global-screen-md) { @include vertical-align; }
}

.window__title {
    line-height: $global-line-height-base;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    @include respond-max($global-screen-sm) { font-size: $global-font-size-sm; }
}

.window__list {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.window__list--offset-sticky {
    padding-bottom: $window-item-fixed-height + 1px;
    margin-bottom: -1px;
}

.window__list--valign {
    .window__item {
        display: table;
        width: 100%;
    }
    .window__link {
        display: table-cell;
        vertical-align: middle;
    }
}

.window__list--bordered {
    .window__item {
        margin-bottom: 0;
        border-bottom: 1px solid;
        border-color: $brand-keyline;
        &:not(.window__item--sticky) { position: relative; }
    }
    .window__link {
        &:not(.window__btn) {
            padding: 1.4rem;
            vertical-align: top;
        }
    }
}

.window__list--centered {
    text-align: center;
    @include respond-min-max($global-screen-xs, $global-screen-md) { text-align: left; }
}

.window__list--responsive {
    // Horizontal overflowing profile list
    // .window__item { padding: 0; }
    @include respond-max($global-screen-md) {
        margin-bottom: -1px;
        white-space: nowrap;
        overflow-x: auto;
        position: relative;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
        border-bottom: 1px solid $brand-keyline;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        .window__item {
            display: inline-block;
            vertical-align: top;
            width: auto;
            border-bottom: 0;
            padding: 1.4rem;
            // padding: 1.4rem 0;
        }
    }
}

.window__img {
    border: 1px solid $brand-keyline;
    background-color: $brand-grey-lighter;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.window__btn {
    text-align: center;
    border-left: 1px solid $brand-keyline;
    padding: 1.4rem 2rem;
    height: 100%;
    width: 5rem;
    .icon {
        display: table-cell;
        vertical-align: middle;
        .no-display-table & {
            padding: 1.4rem;
            display: block;
        }
    }
}

.window__item { padding: 1.4rem; }
.window__item--push { padding: $global-guttering; }
.window__item--nudge { padding: $global-guttering/2; }
.window__item--responsive { @include respond-min($global-screen-lg) { padding: $global-guttering; }}
.window__item--sticky {
    position: absolute;
    top: 100%;
    margin-top: -($window-item-fixed-height + 1px);
    width: 100%;
    max-height: $window-item-fixed-height + 2px; // Height including top and bottom border
}

.window__link--success {
    @include on-interaction {
        .t-generic & { color: $brand-success; }
    }
}

.window__link--danger {
    @include on-interaction {
        .t-generic & { color: $brand-danger; }
    }
}
