/*
* Name: Buttons
* Notes: N/A
-------------------------------------------------------------- */

$btn-font-weight: 500;
$btn-link-disabled-color: $brand-grey-light !default;

$btn-default-color: $brand-grey;
$btn-default-bg: $brand-white;
$btn-default-border: darken($brand-grey-lighter, 7.5%);

$btn-state-color: $brand-white;

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: $btn-font-weight;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid darken($global-input-bg, 7.5%);
    white-space: nowrap;
    font-size: $global-font-size-base;
    user-select: none;
    padding: $global-guttering/3.5 $global-guttering;
    text-decoration: none;
    line-height: $global-line-height-base;
    -webkit-appearance: none;
    @include respond-max($global-screen-md) { font-size: $global-font-size-sm; }
    &:focus { @include tab-focus; }
    &:hover,
    &:focus {
        text-decoration: none;
        outline: 0;
    }
    &:active,
    &.active {
        outline: 0;
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: not-allowed;
        pointer-events: none;
        // Future-proof disabling of clicks
        @include opacity(0.65);
        box-shadow: none;
    }
}

// Sizing
.btn--lg { padding: $global-guttering/2.4 $global-guttering; }
.btn--sm { padding: $global-guttering/6 $global-guttering/1.6; }

// Colouring
.btn--primary {
    background-color: $brand-secondary;
    border-color: $brand-primary;
    color: $brand-white;
    @include on-interaction { color: $brand-white; }
}

.btn--light { 
    border-color: $brand-white;
    color: $brand-white;
    @include on-interaction { color: $brand-white; }
}

.btn--overlay { 
    background-color: rgba($brand-black, .2);
    transition: background-color .2s ease-in-out;
    color: $brand-white;
    @include on-interaction { 
        color: $brand-white;
        background-color: rgba($brand-black, .3);
        transition: background-color .2s ease-in-out;
    }
}
