/*
* Name: Buttons
* Notes: N/A
-------------------------------------------------------------- */

$btn-font-weight: 700;
$btn-link-disabled-color: $brand-grey-light !default;

$btn-default-color: $brand-grey;
$btn-default-bg: $brand-white;
$btn-default-border: darken($brand-grey-lighter, 7.5%);

$btn-state-color: $brand-white;

.btn, %btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: $btn-font-weight;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid darken($global-input-bg, 7.5%);
    white-space: nowrap;
    font-size: $global-font-size-base;
    user-select: none;
    padding: 1rem 2rem;
    line-height: $global-line-height-base;
    &:focus { @include tab-focus; }
    &:hover,
    &:focus {
        text-decoration: none;
        outline: 0;
    }
    &:active,
    &.active {
        outline: 0;
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: not-allowed;
        pointer-events: none;
        // Future-proof disabling of clicks
        @include opacity(0.65);
        box-shadow: none;
    }
    + .btn:not(.page__control) { margin-left: .5em; }
    @include respond-max($global-screen-md) { font-size: $global-font-size-sm; }
}

// Alternate buttons
// --------------------------------------------------
.btn--blank, %btn--blank {
    border-color: transparent;
    background-color: transparent;
    font-weight: normal;
    cursor: default;
}



// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn--link, %btn--link {
    font-weight: normal;
    cursor: pointer;
    border-radius: 0;
    &,
    &:active,
    &[disabled],
    fieldset[disabled] & {
        background-color: transparent;
        box-shadow: none;
    }
    &,
    &:hover,
    &:focus,
    &:active { border-color: transparent; }
    &:hover,
    &:focus {
        text-decoration: underline;
        background-color: transparent;
    }
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus { text-decoration: none; }
    }
}