/* ==========================================================================
   Variables
   ========================================================================== */


/* Colours
-------------------------------------------------------------- */

// Greyscale
$brand-black: black;
$brand-grey: #d9d9d6;
$brand-grey-dark: darken($brand-grey, 20%);
$brand-grey-dark: darken($brand-grey, 10%);
$brand-grey-light: lighten($brand-grey, 10%);
$brand-grey-lighter: lighten($brand-grey, 20%);
$brand-white: white;

// Palette
$brand-primary: #641c31;
$brand-secondary: #861e41;
$brand-tertiary: #8c6954;
$brand-lowlight: #bfaf7f;
$brand-highlight: #f2eeb3;

// Generic
$brand-keyline: $brand-grey-light;
$brand-text: #50595c;
$brand-link: $brand-primary;
$brand-disabled: $brand-grey-light;

// Backgrounds
$brand-body-bg: $brand-highlight;

/* Text colouring
-------------------------------------------------------------- */
$text-muted: lighten($brand-grey-light, 10%);
$text-disabled-color: $brand-grey-light;
$text-disabled-hover-color: $brand-grey-light;

/* Spacing
-------------------------------------------------------------- */
$global-guttering: 2.4rem;


/* Typography
-------------------------------------------------------------- */
$global-font-family-primary: 'Georgia', "Times New Roman", Times, serif;
$global-font-family-secondary: 'Crimson Text', "Times New Roman", Times, serif;
$global-font-family-base: $global-font-family-primary;

$global-font-size-lead: 6.2rem;
$global-font-size-sub: 4.2rem;

$global-font-size-xl: 2.4rem;      // 22px
$global-font-size-lg: 2rem;      // 18px
$global-font-size-base: 1.8rem;    // 16px
$global-font-size-sm: 1.6rem;      // 14px
$global-font-size-xs: 1.4rem;      // 12px
$global-font-size-xxs: 1.2rem;       // 10px

$global-font-size-h1: 3.6rem; // 36px
$global-font-size-h2: 3rem; // 30px
$global-font-size-h3: 2.6rem; // 24px
$global-font-size-h4: 2.2rem; // 20px
$global-font-size-h5: 2rem; // 18px
$global-font-size-h6: $global-font-size-base; // 16px

//** Unit-less `line-height` for use in components like buttons.
$global-line-height-xl: 2.4;
$global-line-height-lg: 2;
$global-line-height-base: 1.6;
$global-line-height-sm: 1.4;
$global-line-height-xs: 1.2;

//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$global-line-height-computed: floor($global-font-size-base * $global-line-height-base);

//** By default, this inherits from the `<body>`.
$global-headings-font-family: $global-font-family-secondary;
$global-headings-font-weight: 700;
$global-headings-line-height: 1.4;
$global-headings-color: inherit;


/* Component spacing
-------------------------------------------------------------- */
// $global-padding-vertical-base: .6rem;
// $global-padding-horizontal-base: 1.2rem;

// $global-padding-vertical-lg: 1rem;
// $global-padding-horizontal-lg: 2rem;

// $global-padding-vertical-sm: .4rem;
// $global-padding-horizontal-sm: 1.4rem;

// $global-padding-vertical-xs: .1rem;
// $global-padding-horizontal-xs: 1rem;

$global-border-radius-xl: .75em;
$global-border-radius-lg: .5em;
$global-border-radius-base: .25em;
$global-border-radius-sm: .125em;

/* Inputs
-------------------------------------------------------------- */
$global-input-bg: $brand-grey-lighter;
$global-input-bg-disabled: $brand-grey-lighter;

$global-input-border: $brand-grey-lighter;
$global-input-border-radius: $global-border-radius-base;
$global-input-border-focus: $brand-primary;

$global-input-color: $brand-text;
$global-input-color-placeholder: $brand-grey-light;

$global-input-height-lg: 2;
$global-input-height-base: 1.7;
$global-input-height-sm: 1.5;

$global-input-group-addon-bg: $brand-white;
$global-input-group-addon-border-color: darken($global-input-bg, 7.5%);


/* Breakpoints
-------------------------------------------------------------- */
$global-screen-xxs: 360px;
$global-screen-xxs-min: $global-screen-xxs;

$global-screen-xs: 480px;
$global-screen-xs-min: $global-screen-xs;

$global-screen-sm: 770px;
$global-screen-sm-min: $global-screen-sm;

$global-screen-md: 1000px;
$global-screen-md-min: $global-screen-md;

$global-screen-lg: 1250px;
$global-screen-lg-min: $global-screen-lg;

$global-screen-xl: 1600px;
$global-screen-xl-min: $global-screen-xl;

$global-screen-xxl: 1800px;
$global-screen-xxl-min: $global-screen-xxl;

// So media queries don't overlap when required, provide a maximum
$global-screen-xs-max: $global-screen-sm-min;
$global-screen-sm-max: $global-screen-md-min - 1;
$global-screen-md-max: $global-screen-lg-min - 1;
$global-screen-lg-max: $global-screen-xl-min - 1;

// Custom break points
$global-screen-offcanvas: 700px;

/* Grid
-------------------------------------------------------------- */
$global-grid-columns: 12;
$global-grid-gutter-width: 2.8rem;

/* Z-index
-------------------------------------------------------------- */
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
$global-zindex-alert: 1010;
$global-zindex-back-to-top: 1050;
$global-zindex-hero-tint: 1000;
$global-zindex-hero-content: 1010;
$zindex-product-overlay: 1000;
$zindex-product-btn: 1010;