/*
* Mixin name: Alerts
* Use: Handling alert colour variations
* Notes: N/A
-------------------------------------------------------------- */

@mixin alert-variant($background, $border, $text-color) {
    background-color: $background;
    border-color: $border;
    color: $text-color;
}
