/*
* Mixin name: Arrow
* Use: Create CSS arrows to be easily positioned, coloured and sized
* Notes: N/A
-------------------------------------------------------------- */

@mixin arrow($global-arrow-edge, $global-arrow-location, $global-arrow-color, $global-border-color: $global-arrow-color) {
    @if $global-arrow-edge == top {
        @extend %arrow--top;
        &:before {
            border-bottom-color: $global-border-color !important;
        }
        &:after {
            border-bottom-color: $global-arrow-color !important;
        }
        @if $global-arrow-location == left {
            @extend %arrow--left;
        }
        @if $global-arrow-location == center {
            @extend %arrow--center;
        }
        @if $global-arrow-location == right {
            @extend %arrow--right;
        }
    }
    @if $global-arrow-edge == right {
        @extend %arrow--far;
        &:before {
            border-left-color: $global-border-color !important;
        }
        &:after {
            border-left-color: $global-arrow-color !important;
        }
        @if $global-arrow-location == top {
            @extend %arrow--upper;
        }
        @if $global-arrow-location == center {
            @extend %arrow--middle;
        }
        @if $global-arrow-location == bottom {
            @extend %arrow--lower;
        }
    }
    @if $global-arrow-edge == bottom {
        @extend %arrow--bottom;
        &:before {
            border-top-color: $global-border-color !important;
        }
        &:after {
            border-top-color: $global-arrow-color !important;
        }
        @if $global-arrow-location == left {
            @extend %arrow--left;
        }
        @if $global-arrow-location == center {
            @extend %arrow--center;
        }
        @if $global-arrow-location == right {
            @extend %arrow--right;
        }
    }
    @if $global-arrow-edge == left {
        @extend %arrow--near;
        &:before {
            border-right-color: $global-border-color !important;
        }
        &:after {
            border-right-color: $global-arrow-color !important;
        }
        @if $global-arrow-location == top {
            @extend %arrow--upper;
        }
        @if $global-arrow-location == center {
            @extend %arrow--middle;
        }
        @if $global-arrow-location == bottom {
            @extend %arrow--lower;
        }
    }
}
